@{
    var user = Session["User"] as TMDT.Account;
    var daysleft = Session["DaysLeft"] as TMDT.Models.DaysLeft;
}
<!DOCTYPE html>
<html >
<head>
    <title>Cửa hàng bán mô hình đồ chơi</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @*<link href="~/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/public/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/public/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/public/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/public/css/bootstrap-slider.min.css" rel="stylesheet" />
    
    <link href="~/public/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/public/css/cssprogress.css" rel="stylesheet" />
    <script src="~/public/js/jquery-1.10.2.min.js"></script>
    <script src="~/public/js/jquery-ui.js"></script>
    <script src="~/public/js/bootstrap.min.js"></script>
    <script src="~/public/js/bootstrap-slider.min.js"></script>*@
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Scripts/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/slick/slick-theme.css">
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                <div class="call">
                    <p><span>Trợ giúp?</span> Gọi chúng tôi: <span class="number">1-22-3456789</span></p>
                </div>
                <div class="account_desc">
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#myModal">Tìm kiếm nâng cao</a></li>
                        <li><a href="/Merchant/Sell">Đăng sản phẩm mới</a></li>
                        <li><a href="/CartItem/Index">Giỏ hàng 
                         @if (Session["CartCount"] != null)
                        {
                            <span>
                                (@Session["CartCount"])
                            </span>
                        }
                        else
                        {
                            <span>
                                (0)
                            </span>
                        }
                        </a></li>
                        @if (user == null)
                        {
                            <li><a href="/Home/Register">Đăng kí</a></li>
                            <li><a href="/Home/Login">Đăng nhập</a></li>
                        }
                        @if (user != null)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @if (user.Level == 1 && user.ExpiryDate.Subtract(DateTime.Now).Days <= 15 && user.ExpiryDate.Subtract(DateTime.Now).Days > 5)
                                    { <span style="color:yellow">
                                        @user.UserName
                                    </span>
                                    }
                                    else 
                                    {
                                        if (user.Level == 1 && user.ExpiryDate.Subtract(DateTime.Now).Days <= 5)
                                        { <span style="color:red">
                                                @user.UserName
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:green">
                                                @user.UserName
                                            </span>
                                        }
                                    }
                                    
                               <b class="caret"></b>
</a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("AccountInfo", "Home", new { id=@user.AccountID})">Thông tin tài khoản</a>
                                    </li>
                                    @if (user.Level == 1)
                                    {
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Index", "Merchant", new { id = @user.AccountID })">Xem sản phẩm bán</a>
                                    </li>
                                    }
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Order", "CartItem", new { id=@user.AccountID})">Xem đơn đặt hàng</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/Home/Logout">Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="/Home/Index"><img src="~/public/images/nenlogo.png" alt="" /></a>
                </div>
                <div class="logo">
                    <a href="/Home/Index"><img src="~/public/images/marvel-vs-dc-banner.png" alt="" width="1208px" height="322px"/></a>
                </div>
                <div class="logo">
                    <a href="/Home/Index"><img src="~/public/images/nenlogo.png" alt="" /></a>
                </div>
            </div>
           
            <div class="header_bottom">
                @{Html.RenderAction("Menu", "Home");}
                <div class="search_box">
                    @using (Html.BeginForm("ReturnSearch", "Home", FormMethod.Get))
                    {
                        <p> @Html.TextBox("name", ViewBag.CurrentFilter as string, new { placeholder = "Gõ từ khóa" }) <input type="submit" value="" /></p>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Theo dõi chúng tôi</h4>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><img src="~/public/images/facebook.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/public/images/twitter.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/public/images/skype.png" alt="" /> </a></li>
                            <li><a href="#" target="_blank"> <img src="~/public/images/dribbble.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"> <img src="~/public/images/linkedin.png" alt="" /></a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Liên Hệ</h4>
                    <ul>
                        <li><span>+91-123-456789</span></li>
                        <li><span>+00-123-000000</span></li>
                    </ul>

                </div>
            </div>
          
        </div>
    </div>
   
    <span> CopyRight© </span>
   
        @{Html.RenderAction("GetData", "Home");}
    <script src="~/Scripts/slick/slick.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    $(document).on('ready', function() {
        $(".header_top").slick({
        infinite: true,
        autoplay: true,
            fade:true
      });
    });
    </script>
</body>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=764535100362540";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script lang="javascript">(function() {var pname = ( (document.title !='')? document.title : document.querySelector('h1').innerHTML );var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async=1; ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=bea4a992b1b85ef623b85f3122b38ea3&data=eyJoYXNoIjoiODA2NzU5MmQzYjEyYWE2M2ZiOTgwYzFiNDdhNTJlOTMiLCJzc29faWQiOjMzNTQzNzl9&pname='+pname;var s = document.getElementsByTagName('script');s[0].parentNode.insertBefore(ga, s[0]);})();</script>	
</html>
