@model IEnumerable<TMDT.Product>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = ViewBag.ID;
    
}
<div class="content">
    <div class="content_top" style="overflow:hidden">
        <div class="heading">
           
            <h3>@switch (i)
            {
                case 1: <img src="~/public/images/sentailogo.png" height="50px" alt="sentai" />
                    break;
                case 2: <img src="~/public/images/kamen_rider_1_logo_by_animedark2-d9e34m7.png" height="50px" alt="rider" />
                    break;
                case 3: <img src="~/public/images/Ultraman_Logo.png" height="50px" alt="ultraman" />
                    break;
                case 4: <img src="~/public/images/dc_universe_online_dock_icon_by_mrforknspoon-d4hsp0g.png" height="50px" alt="DC" />
                    break;
                case 5: <img src="~/public/images/marvel300.jpg" height="50px" alt="Marvel" />
                    break;
                case 6: <img alt="skyrim" />
                    break;
                case 7: <img alt="Power ranger" />
                    break;
                case 8: <img alt="Star wars" />
                    break;
                case 9: <img alt="Gundam" />
                    break;
            } </h3>
        </div>
       
    </div>
    <div class="section group">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details","Home", new { id=item.ProductID})">
                <div class="grid_1_of_4 images_1_of_4" id="content">
                    <div id="img">

                        <img src="@Url.Content("/public/MyImages/"+Html.DisplayFor(modelitem => item.Image))" />
                        <h2>@Html.DisplayFor(modelitem => item.ProductName)</h2>

                    </div>
                    <div id="price" class="price-details">
                        <div class="price-number">
                            <p>
                                @if (item.Discount <= 0)
                                {
                                    <span class="rupees">$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                }
                                else
                                {
                                    <span class="rupees"><del>$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</del></span>
                                    int price = int.Parse(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") * item.Discount / 100;
                                    <span class="rupees" style="color:red"> $@price</span>
                                }
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <figure class="moreinfo">
                        <h2>@Html.DisplayFor(modelitem => item.ProductName)</h2>
                        <h3>@Html.DisplayFor(modelitem => item.Account.UserName)</h3>

                        <p>@Html.DisplayFor(modelitem => item.Info)</p>
                        <h2 style="color:red">
                            @if (item.Discount <= 0)
                            {
                                <span class="rupees">$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                            }
                            else
                            {
                                <span class="rupees"><del>$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</del></span>
                                int price = int.Parse(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") * item.Discount / 100;
                                <span class="rupees" style="color:red"> $@price</span>
                            }
                        </h2>

                    </figure>
                </div>
            </a>

        }
    </div>
</div>


