@model TMDT.Account

@{
    ViewBag.Title = "ChangeInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Cập nhật thông tin tài khoản</h3>
        </div>
        <div class="clear"></div>
    </div>

    <div class="section group">
        @if (TempData["Message"] != null)
        {<div class="alert alert-danger">
            @TempData["Message"]
        </div>}
        <a href="@Url.Action("ChangePass", "Home", new { id = Model.AccountID })" class="btn btn-default">Thay đổi mật khẩu</a>
        @using (Html.BeginForm("ChangeInfo","Home",FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <br />
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.AccountID)
                @Html.HiddenFor(model => model.UserName)
                @Html.HiddenFor(model => model.Pass)
                @Html.HiddenFor(model => model.Level)
                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.ExpiryDate)
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        </div>
    </div>


