<script src="~/Scripts/jquery.elevatezoom.js"></script>
@model TMDT.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    if (ViewBag.Same == null)
    {
        <span>fihùiewìuhưihfưhu</span>}
}
<style>
    .sliderthumb.slick-initialized.slick-slider button.slick-prev:before,
    .sliderthumb.slick-initialized.slick-slider button.slick-next:before {
        color: black;
    }
</style>
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Chi tiết sản phẩm - <span style="font-weight:bolder;color:orange">@Html.DisplayFor(model => model.ProductName)</span></h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <br />
        <div class="col-md-6">
            <div>
                <img id="img_01" src="~/public/MyImages/@(Model.Image.Substring(0,Model.Image.IndexOf("|")))" class="img_detail" />
            </div>
           
            <div id="gallery_01" class="sliderthumb" style="width:45%" >
              
                    @{ string temp = Model.Image;
                        for (int i = 0; i < 8; i++)
                        {
                            if (temp.IndexOf("|") < 0) { break; }
                            if (i == 4)
                            {
                    }
                            <div>
                                <a href="#" data-image="/public/MyImages/@(temp.Substring(0, temp.IndexOf("|")))">
                                    <img id="img_01" src="~/public/MyImages/@(temp.Substring(0, temp.IndexOf("|")))" width="50px" height="50px" />
                                </a>
                            </div>
                            temp = temp.Substring(temp.IndexOf("|") + 1);
                        }
                    }
                
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="text-center"><b>THÔNG TIN SẢN PHẨM</b></h3>
            <dl class="dl-horizontal">
                <dt>
                    <label>Người bán</label>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Account.UserName)
                </dd>
                <dt>
                    <label>Đánh giá</label>
                </dt>
                <dd>
                    @Html.Action("GetRating","Admin", new { m = (Model.Account.Rating + "," + Model.Account.NoRating) })
                </dd>
                <dt>Loại sản phẩm</dt>
                <dd>
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd style="color:red;font-weight:bold">
                    @if (Model.Discount <= 0)
                    {
                         @:$@Html.DisplayFor(model => model.Price)
                            }
                    else
                    {
                        <del style="color:black">$@Html.DisplayFor(model => model.Price)</del>
                        int price = int.Parse(Model.Price.ToString()) * Model.Discount / 100;
                        @:$@price
                        Html.DisplayFor(model => model.Discount);
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreatedDate.Value.Date)
                </dd>
            </dl>
        </div>
        <div class="col-md-3">
            <div class="add-cart">
                <br />
                <h4> @Html.ActionLink("Mua hàng", "AddToCart", "CartItem", new { id = Model.ProductID }, "")</h4>

            </div>
        </div>@if (Model.Account.Rating < 2 && Model.Account.Rating !=0)
        { <span style="color:red;font-style:italic">(Người bán này có điểm đánh giá thấp, cẩn thận khi mua hàng)</span>}
    </div>
    <script>
            $("#img_01").elevateZoom({ gallery: 'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: 'http://www.elevateweb.co.uk/spinner.gif' });
            $("#img_01").bind("click", function (e) {
                var ez = $('#img_01').data('elevateZoom');
                $.fancybox(ez.getGalleryList());

                return false;
            });
    </script>
    
    <br />
    <div class="content_top">
        <div class="heading">
            <h3>Các sản phẩm cùng loại</h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="myslider">
            @foreach (Product item in ViewBag.Same)
            {
                <div>
                    <a href="@Url.Action("Details","Home", new { id=item.ProductID})">
                        <div id="content" class="grid_1_of_4 images_1_of_4" style="width:96%;height:100%;padding:7%">
                            <div id="img">
                                @{
                                    string parameterValue = item.Image.ToString().Substring(0, item.Image.IndexOf("|"));
                                }
                                <img src="@Url.Content("/public/MyImages/" + Html.DisplayFor(modelitem=>parameterValue))" />

                                <h2>@Html.DisplayFor(modelitem => item.ProductName)</h2>
                            </div>
                                <div id="price" class="price-details">
                                <div class="price-number">
                                    <p>
                                        @if (item.Discount <= 0)
                                    {
                                        <span class="rupees">$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                    }
                                    else
                                    {
                                        <span class="rupees"><del>$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</del></span>
                                        int price = int.Parse(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") * item.Discount / 100;
                                        <span class="rupees" style="color:red"> $@price</span>
                                    }
                                </p>
                            </div>
                        </div>
                        <figure class="moreinfo">
                            <h2>@Html.DisplayFor(modelitem => item.ProductName)</h2>
                            <h3>@Html.DisplayFor(modelitem => item.Account.UserName)</h3>

                            <p>@Html.DisplayFor(modelitem => item.Info)</p>
                            <h2 style="color:red">
                                @if (item.Discount <= 0)
                                {
                                    <span class="rupees">$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                }
                                else
                                {
                                    <span class="rupees"><del>$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</del></span>
                                    int price = int.Parse(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") * item.Discount / 100;
                                    <span class="rupees" style="color:red"> $@price</span>
                                }
                            </h2>

                        </figure>
                    </div>
                </a>
                </div>
            }
        </div>
    </div>

</div>
<script src="~/Scripts/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function() {
        $(".sliderthumb").slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 4
        });
        $(".myslider").slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4
        })
    });
</script>
<div class="content_top">
    <div class="heading">
        <h3>BÌNH LUẬN</h3>
    </div>
    <div class="clear"></div>
</div>
<div class="fb-comments" data-href="http://localhost:3133/Home/Detail/@Model.ProductID" data-numposts="5"></div>