@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listnewproduct = (List<TMDT.Product>)ViewBag.New;

}
@model IEnumerable<TMDT.Product>

<div class="content">
    @if (TempData["Notice"] != null)
    { <div class="alert alert-warning">
        @TempData["Notice"]
    </div>}
    <div class="content_top">
        <div class="heading">
            <h3>Sản phẩm mới</h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="myslider">
            @foreach (var item in listnewproduct)
            {
                <div>
                    <div class="grid_1_of_4 images_1_of_4" style="width:96%;height:100%;padding:7%">
                        <a href="@Url.Action("Details","Home", new { id=item.ProductID})"><img src="@Url.Content("/public/MyImages/"+Html.DisplayFor(modelitem => item.Image))" /></a>
                        <h2>@Html.DisplayFor(modelitem => item.ProductName)</h2>
                        <div class="price-details">
                            <div class="add-cart">
                                <h4> @Html.ActionLink("Thêm vào giỏ", "AddToCart", "CartItem", new { id = item.ProductID }, "")</h4>
                            </div>
                            <div class="price-number">
                                <p>
                                    @if (item.Discount <= 0)
                                    {
                                <span class="rupees">$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                    }
                                    else
                                    {
                                        <span class="rupees"><del>$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</del></span>
                                        int price = int.Parse(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") * item.Discount / 100;
                                        <span class="rupees" style="color:red"> $@price</span>
    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @foreach (Category itemCat in ViewBag.Category)
    {
        <div class="content_bottom">
            <div class="heading">
                <h3>@itemCat.CategoryName</h3>
            </div>
            @foreach (Hierarchary kim in ViewBag.Hier)
            {
                if (kim.CategoryID == itemCat.CategoryID)
                {
                    
                        <a href="/Home/Category/@kim.id" style="display:inline-block;padding:7px 10px 0px 10px">@kim.Name</a>
                    
                }
            }
          
            <div class="clear"></div>
        </div>
        <div class="section group">
            @{int i = 0;
            }
            @foreach (Hierarchary xem in ViewBag.Hier)
                        { 
                            foreach (Product item in Model.Where(x => x.CategoryID == xem.id && xem.CategoryID == itemCat.CategoryID))
                            {
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="@Url.Action("Details", "Home", new { id = item.ProductID })">
                        @{
                            string parameterValue = item.Image.ToString().Substring(0, item.Image.IndexOf("|"));
                }
                        <img src="@Url.Content("/public/MyImages/" + Html.DisplayFor(modelitem => parameterValue))" />
                    </a>
                    <h2>@Html.DisplayFor(modelitem => item.ProductName)</h2>
                    <div class="price-details">
                        <div class="add-cart">
                            <h4> @Html.ActionLink("Thêm vào giỏ", "AddToCart", "CartItem", new { id = item.ProductID }, "")</h4>
                        </div>
                        <div class="price-number">
                            <p>
                                @if (item.Discount <= 0)
                                {
                                    <span class="rupees">$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                }
                                else
                                {
                                    <span class="rupees"><del>$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</del></span>
                                    int price = int.Parse(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") * item.Discount / 100;
                                    <span class="rupees" style="color:red"> $@price</span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
                                    i++;
                                    if (i == 4)
                                    {
                                        break;
                                    }
                                }
                                if (i == 4)
                                {
                                    break;
                                }
                            }
        </div>
    }
</div>
<script src="~/Scripts/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function() {
        $(".myslider").slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 4,
        autoplay: true
      });      
    });
</script>